<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @playlist.title %>
</p>


<p>
<table>  
    <% @playlist.feeds.each do |feed| %>
    <tr>  
    <td>
      <%= feed.feed_url %>
    </td>
  </tr>
  <% end %>
</table>
</p>

<%= content_tag :div, id: "tracks", data: {url: playlist_tracks_url(@playlist)} do %>
  <%= render @playlist.tracks %>
<% end %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
